body {
    margin: 0;
    padding: 0;
    font-family: 'Source Han Sans TC', sans-serif;
}

.tabs-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 10px;
    color: #272734;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 10px;
    padding-left: 20px;
}

.tab-links {
    font-weight: bold;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #f0f0f0, #cee1fd);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.tab-links.active {
    background: linear-gradient(to bottom, #5f95dc, #3472c3);
    color: #fff;
    border: 0;
}

.content {
    margin-top: 50px;
}

.tab {
    display: none;
    padding: 20px;
}

.tab.active {
    display: block;
}

.import-export-buttons {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1000;
    gap: 10px;
}

.import-export-buttons button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: radial-gradient(circle, #f0f0f0, #cee1fd);
    font-size: 16px;
    height: 30px;
    color: #50648c;
    font-weight: bold;
}

.add-buttons button {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    background: linear-gradient(to bottom, #f0f0f0, #c2d6f8);
    font-size: 16px;
    color: #50648c;
    font-weight: bold;
}

.add-buttons button:hover {
    background-color: #97b3eb;
    color: #333;
}

.item-header {
    text-align: center;
    background: linear-gradient(to bottom, #f0f0f0, #aecdfd);
    border-radius: 5px;
    border: 1px solid #97b3eb;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-weight: bold;
    color: #50648c;
}

.header-section {
    border: 1px solid #9e9e9e;
    background-color: #f0f0f0;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.header-group {
    display: flex;
    align-items: left;
    justify-content: flex-start;
    margin-bottom: 5px;
    font-weight: bold;
    color: #50648c;
}

.header-group label {
    width: 170px;
    margin-bottom: 0;
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

.header-group input,
.header-group select,
.header-group textarea {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

.form-group .remove-item {
    background: linear-gradient(to bottom, #f0f0f0, #d5d5d5);
    border: 1px solid #9e9e9e;
}

#item-modal,
#adjust-order-modal,
#specify-field-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 95%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.modal-content {
    position: relative;
    background-color: #efefef;
    padding: 20px;
    border-radius: 5px;
    max-height: 95%;
    overflow-y: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    width: 500px;
    resize: both;
    overflow: auto;
}

#item-modal .modal-content {
    width: 800px;
}

#adjust-order-modal .modal-content {
    width: 500px;
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
}

#adjust-order-modal .modal-header {
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: #333;
    font-size: 1em;
}

#specify-field-modal .modal-content {
    max-height: 95%;
}

#specify-field-modal .header-group label {
    width: 200px;
}

#specify-field-modal .header-group input,
#specify-field-modal .header-group select,
#specify-field-modal .header-group textarea {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

.modal-header {
    cursor: move;
    background-color: #efefef;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-list {
    display: flex;
    flex-direction: column;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: move;
}

.order-item span {
    flex: 1;
    cursor: pointer;
}

.floating-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1001;
    display: flex;
    gap: 10px;
}

.item-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-right: 5px;
}

.item-row .form-group:last-child {
    margin-right: 0;
}

.item-row .form-group.fix {
    flex: none;
    width: 50px;
}

.item-row label,
.item-row input,
.item-row textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

textarea {
    resize: none;
}

.flex-group {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.flex-group input[type="checkbox"] {
    margin-right: 5px;
}

.flex-group label {
    margin-right: 20px;
}

.delete-button {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #f37380;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333;
}

h4 {
    color: #0000b7;
}

.hidden {
    display: none;
}

#toggle-fields-modal .modal-content {
    width: 600px;
}

#field-select {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input,
textarea,
select {
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    padding: 2px;
    font-family: 'Source Han Sans TC', sans-serif; /* 確保字型一致 */
}

input:focus,
textarea:focus {
    border-color: #bbb;
    outline: none;
}

.header-group input {
    font-size: 16px;
}

#start-number {
    width: 50px;
    padding: 2px 5px;
    font-size: 14px;
    height: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
}

#start-number-container label {
    margin-right: 10px;
}

#source-item-number,
#COPY_ITEM {
    width: 200px;
}

.net-wt-container {
    display: flex;
    align-items: center;
}

.net-wt-container input[type="checkbox"] {
    margin-left: 5px; /* 可調整間距 */
}

.actions {
    display: flex;
    align-items: center;
}

.actions .delete-button {
    margin-left: 10px; /* 可調整間距 */
}

/* 隱藏數字輸入框的上下調整鍵 */
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield; /* 移除錯誤的屬性 */
    appearance: none;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-moz-appearance {
    appearance: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
.clickable {
    cursor: pointer;
    color: blue;
}
.clickable:hover {
    text-decoration: underline;
}

.taxmodal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.taxmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight-row {
    background-color: #dde9fc; /* 淡藍色 */
}

.fixed-width {
    width: 2000px; /* 固定頁面的寬度 */
    margin: 0 auto;
}

.fixed-top {
    position: sticky;
    top: 0;
    background-color: white; /* 確保背景色一致 */
    z-index: 1000; /* 固定欄位標題 */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* 可選，增加固定區塊的陰影 */
}

/* 固定左側項次編號及標題 */
.item-no,
.item-no-header {
    position: sticky;
    left: 0;
    background-color: white; /* 確保背景色一致 */
    border-radius: 0 10px 10px 0; /* 右側圓角 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* 右側陰影 */
}

/* 選中狀態的項次左側編號變色 */
.item-no.selected {
    background-color: #ffeb3b; /* 例如，設置為黃色 */
}
